.row div {
    display: inline-block;
    background-color: green;
    width: 64px;
    border-color: darkgray;
    text-align: center;
    color: white;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Comic Sans MS";
    font-size: 16px;
}

.row .display {
    min-width: 196px;
    font-size: 100%;
    text-align: right;
}

.row div:hover {
    background-color: lightgreen;
}
